.clear{clear:both;height:1px;overflow:hidden;}
.cmspro_clear{clear:both;height:1px;overflow:hidden;}

.cmspro_news_title div,.cmspro_news_title img {float:left;}
.cmspro_news_title{position:relative;width:100%;}

.cmspro_news_title .cmspro_news_images{
    width:auto;
    margin-right:10px;
    display: block;
    float: none;
    margin: 0 10px 10px 0;
}
.cmspro_news_title h1{
    color: #454545;
    font-family: MyriPro;
    font-size: 26px;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}

.cmspro_news_title .cmspro_news_summary{
    width:auto;
    display: block;
    font-size: 14px;
    font-family: "akreg", Verdana, Geneva, sans-serif;
    margin: 0 0 15px;
    float: none !important;
}
.cmspro_news_images{float:left;margin-left:0;width:40%;}
.cmspro_news_images img{/*width:100%;*/border: 0px solid silver;padding:2px;
    float: none;
}

.cmspro_news_summary{float:left;font-weight:bold;margin-left: 0;width:58%;text-align:justify;}
.cmspro_news_content{padding: 0;text-align:justify;
    color: #767676;
    font-family: "akreg", Verdana, Geneva, sans-serif;
    font-size: 12px;
}
.cmspro_news_content strong{ color: #000 !important;}

.cmspro_news_content h3,
.cmspro_news_content h2{
    border-bottom: 1px dashed #FE9E6B;
    color: #FE6B1E;
    font-family: MyriPro;
    font-size: 15px;
    line-height: 15px;
    margin: 20px 0 15px;
    padding: 10px 0 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.cmspro_news_content p a{
    color: #FD6B1D;
    font-family: "akreg",Verdana,Geneva,sans-serif;
    list-style: disc inside none;
    margin: 0;
}

.cmspro_news_content ul li {
    color: #767676;
    font-family: "akreg",Verdana,Geneva,sans-serif;
    list-style: disc inside none;
    margin: 0 0 0 15px;
}


.cmspro_news_back{float:right;padding:10px;}
.cmspro_new_previous{width:33%;text-align:right;}
.cmspro_new_next{width:33%;text-align:left;}
.cmspro_new_returncat{width:34%;text-align:center;}

.cmspro_news_navigation a{
    text-decoration: none;
    background: none repeat scroll 0 0 #8E8E8E;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 0 0 0 3px;
    padding: 4px 10px 3px;
}
.cmspro_news_navigation a:hover{text-decoration: none; background: none repeat scroll 0 0 #FA6700;}

.cmspro_news_relative a{text-decoration: none;}
.cmspro_news_relative a:hover{text-decoration: none;color:orange;}
.cmspro_news_relative h3{
    /*border-bottom: 1px solid silver; font-size: 14px; font-weight:bold;*/
    border-bottom: 1px dashed #FE9E6B;
    color: #FE6B1E;
    font-family: MyriPro;
    font-size: 15px;
    line-height: 15px;
    margin: 20px 0 15px;
    padding: 10px 0 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.cmspro_news_relative ul li {
    color: #767676;
    font-family: "akreg",Verdana,Geneva,sans-serif;
    list-style: disc inside none;
    margin: 0 0 0 15px;
}

.cmspro_postTitle_published { font-size: 14px;font-weight:normal;line-height:1.35; margin: 0 0 20px;
    color: #666;
    font-family: MyriPro;
    float: none !important;
}
.cmspro_postTitle_title { font-size:16px; font-weight:bold;line-height:1.35; margin:10px 0 0px 0;}
.cmspro_postTitle { color:#0A263C;
    float: none !important;
}

.cmspro_list_item{width:100%;position:relative;
    border-bottom: 2px solid #FF7122;
}
.cmspro_list_item.odd{ background: none;border-bottom: 2px solid #FF7122;}
.cmspro_list_content{width:100%; border-bottom: 0px solid #DDDDDD; padding-bottom: 5px; margin-top: 0px;
    overflow: hidden; /*float:left;*/}
.cmspro_list_images{float: left;margin: 5px 25px 0 5px;
    display: block;
    width: 128px;
    height: 128px; /*width:25%;*/}
.cmspro_list_images img{/*width:100%;*/float: none;border: 0px solid #DDDDDD;padding: 0;}
.cmspro_list_summary{/*float:left;*/margin: 5px 0px 5px 0px;text-align:justify;/*width:65%; */font-size:11px; color:#333;/*display:inline;*/}

.cmspro_list_item a {text-decoration:none;display: block;
    padding: 8px 0 0 0;
    text-align: right;
}
.cmspro_list_item a:hover{text-decoration:none;color:orange;}

.cmspro_list_summary h3 {font-size: 21px; font-weight:bold; color: #4d4d4d; line-height: 30px; margin:0px;padding-top:4px;font-family: MyriPro;}
.cmspro_list_summary h3 a {color: #4d4d4d;text-transform: uppercase;
    padding: 0;
    text-align: left;
}
.cmspro_list_summary h3 a:hover {text-decoration:underline ;color:#000 !important;}
.cmspro_error{
    text-align:center;
    color:#FD6C1D;
    font-weight:bold;
    margin: 0 0 15px;
    background: none repeat scroll 0 0 #F6F6F6;
    border: 2px solid #FD6C1D;
}

.block_news_item{padding:10px 9px 5px 9px; border-bottom:1px solid #ddd;background:#fff;}

.mw-block-sub .block-subscribe {border:solid 1px #dddddd ;margin-bottom:1.3em;}
.block_item_img{float:left;width:52px; height:52px; border:1px solid #ddd;}
.block_item_img img{width:50px; height:50px; border:1px solid #fff;}

.mw-block-sub .block-subscribe .block-title{
border-bottom:solid 1px #dddddd;
background:#f2f2f2;
padding:6px 10px;
}
.mw-block-sub .block-subscribe .block-title strong{color:#222;background:none;padding-left:0px;}

.block_item_title{float:right;width:65%; text-align:justify;}
.block_item_title a{text-decoration:none; color:#333;}
.block_item_title a:hover{text-decoration:none; color:orange;}

.cmspro_features_news a{text-decoration:none;}
.cmspro_features_news a:hover{color:orange;}
.cmspro_features_news{margin-bottom:10px; color:#333;border:1px solid #ddd;}
.cmspro_features_border{width:100%;}
.cp_features_first {border-bottom:1px solid #ddd;padding:9px;}
.cp_features_first_title h3 {font-weight:bold;font-size:12px;color:#336699; line-height:45px; margin:0px}
.cp_features_first_title h3 a {color:#336699;}
.cp_features_first_title h3 a :hover{text-decoration:underline !important;color:#336699 !important;}

.cp_features_other {padding:11px;overflow:hidden;position:relative;}
.cp_features_other span{font-size:11px;color:#999;display:block;}
.cp_features_other a {color:#336699;float:left;text-align:left;}
.cp_features_other a:hover {text-decoration:underline; color:#336699;}
.cp_features_other_1{float:left;margin-right:9px;display:inline;text-align:left;}
.cp_features_other_2{float:left;text-align:left;margin-right:9px;}
.cp_features_other_3{float:left;text-align:left;}
.cp_features_other img{border:1px solid #ddd; margin-bottom:7px;padding:1px;display:block;/*width:100%;*/float:none;}
.cp_features_first_img{float:left;width:100%;}
.cp_features_first_img img {width:100%;}

.posted-date{color:#999999;font-size:11px;margin-bottom:10px;}
.postWrapper{border: 0px solid #DDDDDD;padding: 0 0 13px;
    border-bottom: 2px solid #ff7122;
}
.mw_tt_pager{
/*
background-color:#f2f2f2;
*/
margin: 10px 0 10px;
/*
border:1px solid #DDDDDD;
*/
text-align:center;
    width:100%;
    position:relative;

    background: none repeat scroll 0 0 #8E8E8E;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: MyriPro;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 9px;
}
.mw_tt_pager strong{ font-weight: normal;}


.mw_tt_pager .td-page1{float:left;padding:4px 10px;}
.mw_tt_pager .a-right{float:right;padding:4px 10px;}
.mw_tt_pager .pages{}
.mw_tt_pager .pages ol {
display:inline;
}
.mw_tt_pager .pages li {
display:inline;
margin:0 2px;
}
.mw_tt_pager img{vertical-align:middle;}
.mw_tt_pager caption,.mw_tt_pager th,.mw_tt_pager td {
font-weight:normal;
text-align:center;
vertical-align:middle;
}
/* edit by ducna@asia-connect.com.vn  */
.nav-container {
/*background:url("../images/bkg_nav0.jpg") repeat-y scroll 50% 0 #0A263D;*/
}
#nav {
/*font-size:13px;
margin:0 auto;
padding:0 16px;
width:918px;
position:relative;z-index:101;*/
}
#nav li {
/*position:relative;
text-align:left;*/
}


.cmspro-search {/* position:absolute; top: 21px; right: 29px; width: 187px; height: 21px; */background: #ff7122; padding: 6px 12px 8px 18px;
    margin: 10px 0 0 0;
}

.title_search_news{text-transform: uppercase; color: #fff; font-size: 14px; font-family: HelveticaNeueLTPro57Condensed; padding: 0px 0 0px 0px; font-weight: normal;line-height: 14px;}

.cmspro-search label { float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.cmspro-search input.input-text { float:left; border-color:#5c7989; width: 131px; margin-right: 0;
    border: 0px solid red;
    padding: 4px 5px 2px;
    color: #fe6b1b;
    font-family: MyriPro;
    font-size: 12px;
}
.cmspro-search button.button { float: right;
    display: block;
    width: 21px;
    height: 21px;
}
.cmspro-search button.button span { border:0; height: 24px; background: url("../../images/sprite.png") no-repeat scroll -163px -129px transparent; padding: 0; font:bold 11px/21px Tahoma, Verdana, Arial, sans-serif;
    display: block;
    width: 24px;
    text-align: left;
    text-indent: 0;
}
.cmspro-search button.button span span {
    padding: 0;
    background: none;
    display: block;
    height: 24px;
    margin: 0;
    text-indent: -10000px;
    width: 24px;
}
.cmspro-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
.cmspro-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.cmspro-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.cmspro-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.cmspro-search .search-autocomplete li.odd { background-color:#fffefb; }
.cmspro-search .search-autocomplete li.selected { background-color:#f7e8dd; }




